.board {
  border-spacing: 0;
  width: 480px;
  margin: auto;
}
.board td {
  width: 60px;
  height: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}
.board td.marked {
  border: 4px solid #339933;
}
.board tr:nth-child(even) td:nth-child(odd),
.board tr:nth-child(odd) td:nth-child(even) {
  background-color: #000;
}
.board .black:hover {
  border: 4px solid #03f;
}
.board .black.pawn {
  background-image: url("../img/black/pawn.png");
}
.board .black.rook {
  background-image: url("../img/black/rook.png");
}
.board .black.king {
  background-image: url("../img/black/king.png");
}
.board .black.knight {
  background-image: url("../img/black/knight.png");
}
.board .black.bishop {
  background-image: url("../img/black/bishop.png");
}
.board .black.queen {
  background-image: url("../img/black/queen.png");
}
.board .white:hover {
  border: 4px solid #f30;
}
.board .white.pawn {
  background-image: url("../img/white/pawn.png");
}
.board .white.king {
  background-image: url("../img/white/king.png");
}
.board .white.queen {
  background-image: url("../img/white/queen.png");
}
.board .white.rook {
  background-image: url("../img/white/rook.png");
}
.board .white.knight {
  background-image: url("../img/white/knight.png");
}
.board .white.bishop {
  background-image: url("../img/white/bishop.png");
}
