<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script data-main="js/main" src="js/require.js"></script>
	</head>
	<body>
        <script type="text/template" id="board">
            <table class="board">
                <% _.each(fields,function(field){

                %>
                    <tr>
                        <% _.each(field,function(field){
                        //console.log(field);
                        %>

                            <td class="figure <%=field.color%> <%=field.figure%>"></td>
                        <%})%>
                    </tr>
                <%})%>
            </table>
        </script>
		<!--<table class="board">-->
			<!--<tr>-->
				<!--<td class="black rook"></td>-->
				<!--<td class="black knight"></td>-->
				<!--<td class="black bishop"></td>-->
				<!--<td class="black queen"></td>-->
				<!--<td class="black king"></td>-->
				<!--<td class="black bishop"></td>-->
				<!--<td class="black knight"></td>-->
				<!--<td class="black rook"></td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td class="black pawn initial"></td>-->
				<!--<td class="black pawn initial"></td>-->
				<!--<td class="black pawn initial"></td>-->
				<!--<td class="black pawn initial"></td>-->
				<!--<td class="black pawn initial"></td>-->
				<!--<td class="black pawn initial"></td>-->
				<!--<td class="black pawn initial"></td>-->
				<!--<td class="black pawn initial"></td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
				<!--<td></td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td class="white pawn initial"></td>-->
				<!--<td class="white pawn initial"></td>-->
				<!--<td class="white pawn initial"></td>-->
				<!--<td class="white pawn initial"></td>-->
				<!--<td class="white pawn initial"></td>-->
				<!--<td class="white pawn initial"></td>-->
				<!--<td class="white pawn initial"></td>-->
				<!--<td class="white pawn initial"></td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td class="white rook"></td>-->
				<!--<td class="white knight"></td>-->
				<!--<td class="white bishop"></td>-->
				<!--<td class="white queen"></td>-->
				<!--<td class="white king"></td>-->
				<!--<td class="white bishop"></td>-->
				<!--<td class="white knight"></td>-->
				<!--<td class="white rook"></td>-->
			<!--</tr>-->
		<!--</table>-->
		
	</body>
</html>